::-moz-selection{text-shadow:none;background:#4ca6ff}
::selection{text-shadow:none;background:#4ca6ff}
img::selection{background:transparent}
img::-moz-selection{background:transparent}
body{-webkit-tap-highlight-color:#4ca6ff;overflow-x:hidden;font-family:"Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif}
body.toolbar-drawer.navbar-is-fixed-top,body.navbar-is-fixed-top{padding-top:0!important}
body.admin-menu .navbar-fixed-top{margin-top:29px;top:0;padding-top:0!important;z-index: 20;}
p{font-size:14px;line-height:1.75}
p.large{font-size:16px}
a,a:hover,a:focus,a:active,a.active{outline:none}
a{color:#4ca6ff}
a:hover,a:focus,a:active,a.active{color:#4c79ff}
h1,h2,h3,h4,h5,h6{font-family:"Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700}
#admin-menu-search .control-label{display:none}
header#page-header{background:url(../assets/img/header4-bg.jpg) no-repeat center center;min-height:200px;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover;text-align:center;color:#fff}
header#page-header .region,header#page-header .intro-text{padding-top:100px;padding-bottom:50px}
header#page-header .region .block-title,header#page-header .intro-text .block-title,header#page-header .region .intro-lead-in,header#page-header .intro-text .intro-lead-in{font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;font-style:italic;font-size:22px;line-height:22px;margin-bottom:25px}
header#page-header .region .content,header#page-header .intro-text .content,header#page-header .region .intro-heading,header#page-header .intro-text .intro-heading{font-family:"Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;font-size:50px;line-height:50px;margin-bottom:25px}
#portfolio .portfolio-item{margin:0 0 15px;right:0}
#portfolio .portfolio-item .portfolio-link{display:block;position:relative;max-width:400px;margin:0 auto}
#portfolio .portfolio-item .portfolio-link .portfolio-hover{background:rgba(254,209,54,0.9);position:absolute;width:100%;height:100%;opacity:0;transition:all ease .5s;-webkit-transition:all ease .5s;-moz-transition:all ease .5s}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover{opacity:1}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content{position:absolute;width:100%;height:20px;font-size:20px;text-align:center;top:50%;margin-top:-12px;color:#fff}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i{margin-top:-12px}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4{margin:0}
#portfolio .portfolio-item .portfolio-caption{max-width:400px;margin:0 auto;background-color:#fff;text-align:center;padding:25px}
#portfolio .portfolio-item .portfolio-caption h4{text-transform:none;margin:0}
#portfolio .portfolio-item .portfolio-caption p{font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;font-style:italic;font-size:16px;margin:0}
#portfolio *{z-index:2}
section#contact{background:#222 url(../assets/img/map-image.png) no-repeat center center}
section#contact .block-title,section#contact .section-heading{color:#fff;text-align:center}
section#contact .form-group{margin-bottom:5px}
section#contact .form-group label{color:#fff}
section#contact .form-group input,section#contact .form-group textarea{padding:20px}
section#contact .form-group input.form-control{height:auto}
section#contact .form-group textarea.form-control{height:246px}
section#contact .form-actions{text-align:center}
section#contact .form-control:focus{border-color:#4ca6ff;box-shadow:none}
section#contact ::-webkit-input-placeholder{font-family:"Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;color:#eee}
section#contact :-moz-placeholder{font-family:"Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;color:#eee}
section#contact ::-moz-placeholder{font-family:"Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;color:#eee}
section#contact :-ms-input-placeholder{font-family:"Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;color:#eee}
section#contact .text-danger{color:#e74c3c}
section#contact .form-item-copy{display:none}
section#contact button#edit-submit{margin-top:20px}
#mainNav{padding-top:1rem;padding-bottom:1rem;background-color:#212529}
#mainNav .navbar-toggler{padding:.75rem;font-family:"Montserrat",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";font-size:.75rem;color:#fff;text-transform:uppercase;background-color:#4ca6ff;border:0}
#mainNav .navbar-brand{color:#4ca6ff;font-family:"Montserrat",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";font-weight:700;letter-spacing:.0625em;text-transform:uppercase}
#mainNav .navbar-brand img{height:1.5rem}
#mainNav .navbar-nav .nav-item .nav-link{font-family:"Montserrat",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";font-size:.95rem;color:#fff;letter-spacing:.0625em}
#mainNav .navbar-nav .nav-item .nav-link.active,#mainNav .navbar-nav .nav-item .nav-link:hover{color:#4ca6ff}
@media (min-width: 992px) {
#mainNav{padding-top:1.5rem;padding-bottom:1.5rem;border:none;background-color:transparent;transition:padding-top .3s ease-in-out,padding-bottom .3s ease-in-out}
#mainNav .navbar-brand{font-size:1.5em;transition:font-size .3s ease-in-out}
#mainNav .navbar-brand img{height:2rem;transition:height .3s ease-in-out}
#mainNav.navbar-shrink{padding-top:1rem;padding-bottom:1rem;background-color:#212529}
#mainNav.navbar-shrink .navbar-brand{font-size:1.25em}
#mainNav.navbar-shrink .navbar-brand svg,#mainNav.navbar-shrink .navbar-brand img{height:1.5rem}
#mainNav .navbar-nav .nav-item{margin-right:1rem}
#mainNav .navbar-nav .nav-item:last-child{margin-right:0}
}
.page-section{padding:6rem 0}
.page-section h2.section-heading{font-size:2.5rem;margin-top:0;margin-bottom:1rem}
.page-section h3.section-subheading{font-size:1rem;font-weight:400;font-style:italic;font-family:"Droid Serif",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";margin-bottom:4rem}
.logo-container {position: relative;top: 90px;}
.text-muted{color:#777}
.text-primary{color:#4ca6ff}
.img-centered{margin:0 auto}
.bg-light-gray{background-color:#eee}
.bg-darkest-gray{background-color:#222}
.btn-primary{color:#fff;background-color:#4ca6ff;border-color:#4ca6ff;font-family:"Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{color:#fff;background-color:#4c79ff;border-color:#f6bf01}
.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{background-image:none}
.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active{background-color:#4ca6ff;border-color:#4ca6ff}
.btn-primary .badge{color:#4ca6ff;background-color:#fff}
.navbar.container,.navbar.container-fluid{margin-top:0}
.navbar{background-color:#222;border-color:transparent}
.navbar .navbar-brand{color:#4ca6ff;font-family:"Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive}
.navbar .navbar-brand:hover,.navbar .navbar-brand:focus,.navbar .navbar-brand:active,.navbar .navbar-brand.active{color:#4c79ff}
.navbar .navbar-collapse{border-color:rgba(255,255,255,0.02)}
.navbar .navbar-toggle{background-color:#4ca6ff;border-color:#4ca6ff;font-family:"Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;color:#fff;font-size:12px}
.navbar .navbar-toggle:hover,.navbar .navbar-toggle:focus{background-color:#4ca6ff}
.navbar .nav{float:right}
.navbar .nav li a{font-family:"Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:400;letter-spacing:1px;color:#fff}
.navbar .nav li a:hover,.navbar .nav li a:focus{color:#4ca6ff;outline:none}
.navbar .navbar-nav > .active > a{border-radius:0;color:#fff;background-color:#4ca6ff}
.navbar .navbar-nav > .active > a:hover,.navbar .navbar-nav > .active > a:focus{color:#fff;background-color:#4c79ff}
.service-heading{margin:15px 0;text-transform:none}
.timeline{position:relative;padding:0;list-style:none}
.timeline:before{position:absolute;top:0;bottom:0;left:40px;width:2px;margin-left:-1.5px;content:"";background-color:#e9ecef}
.timeline > li{position:relative;min-height:50px;margin-bottom:50px}
.timeline > li:after,.timeline > li:before{display:table;content:" "}
.timeline > li:after{clear:both}
.timeline > li .timeline-panel{position:relative;float:right;width:100%;padding:0 20px 0 100px;text-align:left}
.timeline > li .timeline-panel:before{right:auto;left:-15px;border-right-width:15px;border-left-width:0}
.timeline > li .timeline-panel:after{right:auto;left:-14px;border-right-width:14px;border-left-width:0}
.timeline > li .timeline-image{position:absolute;z-index:100;left:0;width:80px;height:80px;margin-left:0;text-align:center;color:#fff;border:7px solid #e9ecef;border-radius:100%;background-color:#4ca6ff}
.timeline > li .timeline-image h4{font-size:10px;line-height:14px;margin-top:12px}
.timeline > li.timeline-inverted > .timeline-panel{float:right;padding:0 20px 0 100px;text-align:left}
.timeline > li.timeline-inverted > .timeline-panel:before{right:auto;left:-15px;border-right-width:15px;border-left-width:0}
.timeline > li.timeline-inverted > .timeline-panel:after{right:auto;left:-14px;border-right-width:14px;border-left-width:0}
.timeline > li:last-child{margin-bottom:0}
.timeline .timeline-heading h4{margin-top:0;color:inherit}
.timeline .timeline-heading h4.subheading{text-transform:none}
.timeline .timeline-body > ul,.timeline .timeline-body > p{margin-bottom:0}
@media (min-width: 768px) {
.timeline:before{left:50%}
.timeline > li{min-height:100px;margin-bottom:100px}
.timeline > li .timeline-panel{float:left;width:41%;padding:0 20px 20px 30px;text-align:right}
.timeline > li .timeline-image{left:50%;width:100px;height:100px;margin-left:-50px}
.timeline > li .timeline-image h4{font-size:13px;line-height:18px;margin-top:16px}
.timeline > li.timeline-inverted > .timeline-panel{float:right;padding:0 30px 20px 20px;text-align:left}
}
@media (min-width: 992px) {
.timeline > li{min-height:150px}
.timeline > li .timeline-panel{padding:0 20px 20px}
.timeline > li .timeline-image{width:150px;height:150px;margin-left:-75px}
.timeline > li .timeline-image h4{font-size:18px;line-height:26px;margin-top:30px}
.timeline > li.timeline-inverted > .timeline-panel{padding:0 20px 20px}
}
@media (min-width: 1200px) {
.timeline > li{min-height:170px}
.timeline > li .timeline-panel{padding:0 20px 20px 100px}
.timeline > li .timeline-image{width:170px;height:170px;margin-left:-85px}
.timeline > li .timeline-image h4{margin-top:40px}
.timeline > li.timeline-inverted > .timeline-panel{padding:0 100px 20px 20px}
}
.team-member{margin-bottom:3rem;text-align:center}
.team-member img{width:14rem;height:14rem;border:.5rem solid rgba(0,0,0,0.1)}
.team-member h4{margin-top:1.5rem;margin-bottom:0}
div.region-content section,section.agency-contact{padding:40px 0}
div.region-content section .block-title,section.agency-contact .block-title,div.region-content section h2.section-heading,section.agency-contact h2.section-heading{font-size:40px;margin-top:0;margin-bottom:15px;text-align:center}
div.region-content section h3.section-subheading,section.agency-contact h3.section-subheading{font-size:16px;font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:none;font-style:italic;font-weight:400;margin-bottom:75px}
aside.clients img{margin:50px auto}
footer.footer.main-footer {background: #2f3131;color:#f8f8f8;}
footer.footer{border:0;margin-top:0;padding:25px 0;text-align:center;font-size:1.7rem;font-family:"Montserrat",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"}
footer span.copyright{line-height:40px;font-family:"Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;text-transform:none}
footer ul.quicklinks{margin-bottom:0;line-height:40px;font-family:"Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;text-transform:none}
section.agency-contact button,.btn-xl{color:#fff;background-color:#4ca6ff;border-color:#4ca6ff;font-family:"Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;border-radius:3px;font-size:18px;padding:20px 40px}
section.agency-contact button:hover,.btn-xl:hover,section.agency-contact button:focus,.btn-xl:focus,section.agency-contact button:active,.btn-xl:active,section.agency-contact button.active,.btn-xl.active,.open .dropdown-togglesection.agency-contact button,.open .dropdown-toggle.btn-xl{color:#fff;background-color:#4c79ff;border-color:#f6bf01}
section.agency-contact button:active,.btn-xl:active,section.agency-contact button.active,.btn-xl.active,.open .dropdown-togglesection.agency-contact button,.open .dropdown-toggle.btn-xl{background-image:none}
section.agency-contact button.disabled,.btn-xl.disabled,section.agency-contact button[disabled],.btn-xl[disabled],fieldset[disabled] section.agency-contact button,fieldset[disabled] .btn-xl,section.agency-contact button.disabled:hover,.btn-xl.disabled:hover,section.agency-contact button[disabled]:hover,.btn-xl[disabled]:hover,fieldset[disabled] section.agency-contact button:hover,fieldset[disabled] .btn-xl:hover,section.agency-contact button.disabled:focus,.btn-xl.disabled:focus,section.agency-contact button[disabled]:focus,.btn-xl[disabled]:focus,fieldset[disabled] section.agency-contact button:focus,fieldset[disabled] .btn-xl:focus,section.agency-contact button.disabled:active,.btn-xl.disabled:active,section.agency-contact button[disabled]:active,.btn-xl[disabled]:active,fieldset[disabled] section.agency-contact button:active,fieldset[disabled] .btn-xl:active,section.agency-contact button.disabled.active,.btn-xl.disabled.active,section.agency-contact button[disabled].active,.btn-xl[disabled].active,fieldset[disabled] section.agency-contact button.active,fieldset[disabled] .btn-xl.active{background-color:#4ca6ff;border-color:#4ca6ff}
section.agency-contact button .badge,.btn-xl .badge{color:#4ca6ff;background-color:#fff}
a.btn.btn-social:hover {color:#f9f9f9; }
.btn-xl{padding:1.25rem 2.5rem;font-family:"Montserrat",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";font-size:1.125rem;font-weight:700}
.btn-social{height:2.5rem;width:2.5rem;display:inline-flex;align-items:center;justify-content:center;padding:0;border-radius:100%}
ul.social-buttons{margin-bottom:0}
ul.social-buttons li a{display:block;background-color:#222;height:40px;width:40px;border-radius:100%;font-size:20px;line-height:40px;color:#fff;outline:none;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}
ul.social-buttons li a:hover,ul.social-buttons li a:focus,ul.social-buttons li a:active{background-color:#4ca6ff}
ul.menu.nav.navbar-nav.secondary{border:0 !important;}
ul.secondary, ul.primary {padding: .1em .1em; margin: 2px;}
.btn:focus,.btn:active,.btn.active,.btn:active:focus{outline:none}
.portfolio-modal .modal-dialog{margin:0;height:100%;width:auto}
.portfolio-modal .modal-content{border-radius:0;background-clip:border-box;-webkit-box-shadow:none;box-shadow:none;border:none;min-height:100%;padding:100px 0;text-align:center}
.portfolio-modal .modal-content h2{margin-bottom:15px;font-size:3em}
.portfolio-modal .modal-content p{margin-bottom:30px}
.portfolio-modal .modal-content p.item-intro{margin:20px 0 30px;font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;font-style:italic;font-size:16px}
.portfolio-modal .modal-content ul.list-inline{margin-bottom:30px;margin-top:0}
.portfolio-modal .modal-content img{margin-bottom:30px}
.portfolio-modal .close-modal{position:absolute;width:75px;height:75px;background-color:transparent;top:25px;right:25px;cursor:pointer}
.portfolio-modal .close-modal:hover{opacity:.3}
.portfolio-modal .close-modal .lr{height:75px;width:1px;margin-left:35px;background-color:#222;transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);z-index:1051}
.portfolio-modal .close-modal .lr .rl{height:75px;width:1px;background-color:#222;transform:rotate(90deg);-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);z-index:1052}
.portfolio-modal .modal-backdrop{opacity:0;display:none}

header.masthead{padding-top:10.5rem;padding-bottom:6rem;text-align:center;color:#fff;background-image:url(../assets/img/header-bg.jpg);background-repeat:no-repeat;background-attachment:scroll;background-position:center center;background-size:cover}
header.masthead .masthead-subheading{font-size:1.5rem;font-style:italic;line-height:1.5rem;margin-bottom:25px;font-family:"Droid Serif",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"}
header.masthead .masthead-heading{font-size:3.25rem;font-weight:700;line-height:3.25rem;margin-bottom:2rem;font-family:"Montserrat",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"}
@media (min-width: 768px) {
	section{padding:9rem 0} 
    header.masthead{padding-top:17rem;padding-bottom:12.5rem}
    header.masthead .masthead-subheading{font-size:2.25rem;font-style:italic;line-height:2.25rem;margin-bottom:2rem;padding-left: 3rem;padding-right: 3rem;}
    header.masthead .masthead-heading{font-size:4.5rem;font-weight:700;line-height:4.5rem;margin-bottom:4rem}
}
@media (min-width: 768px) {
	#portfolio .portfolio-item{margin:0 0 30px}
	header .region,header .intro-text{padding-top:200px;padding-bottom:200px;}
	header .region .block-title,header .intro-text .block-title,header .region .intro-lead-in,header .intro-text .intro-lead-in{font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;font-style:italic;font-size:40px;line-height:40px;margin-bottom:25px}
	header .region .content,header .intro-text .content,header .region .intro-heading,header .intro-text .intro-heading{font-family:"Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;font-size:75px;line-height:75px;margin-bottom:50px}
	.timeline:before{left:50%}
	.timeline > li{margin-bottom:100px;min-height:100px}
	.timeline > li .timeline-panel{width:41%;float:left;padding:0 20px 20px 30px;text-align:right}
	.timeline > li .timeline-image{width:100px;height:100px;left:50%;margin-left:-50px}
	.timeline > li .timeline-image h4{font-size:13px;margin-top:16px;line-height:18px}
	.timeline > li.timeline-inverted > .timeline-panel{float:right;text-align:left;padding:0 30px 20px 20px}
	.navbar{background-color:transparent;padding:25px 0;-webkit-transition:padding .3s;-moz-transition:padding .3s;transition:padding .3s;border:none}
	.navbar .navbar-brand{font-size:2em;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}
	.navbar .navbar-nav > .active > a{border-radius:3px}
	.navbar.navbar-shrink,.navbar.affix{background-color:#222;padding:10px 0}
	.navbar.navbar-shrink .navbar-brand,.navbar.affix .navbar-brand{font-size:1.5em}
	div.region-content section,section.agency-contact{padding:50px 0}
}
@media (min-width: 992px) {
	.timeline > li{min-height:150px}
	.timeline > li .timeline-panel{padding:0 20px 20px}
	.timeline > li .timeline-image{width:150px;height:150px;margin-left:-75px}
	.timeline > li .timeline-image h4{font-size:18px;margin-top:30px;line-height:26px}
	.timeline > li.timeline-inverted > .timeline-panel{padding:0 20px 20px}
	section.agency-contact form > div{position:relative}
	section.agency-contact form .form-item-name,section.agency-contact form .form-item-mail,section.agency-contact form .form-item-subject{padding-right:51%}
	section.agency-contact form .form-item-message{width:50%;padding-left:1%;position:absolute;top:0;right:0}
}
@media (min-width: 1200px) {
	.timeline > li{min-height:170px}
	.timeline > li .timeline-panel{padding:0 20px 20px 100px}
	.timeline > li .timeline-image{width:170px;height:170px;margin-left:-85px}
	.timeline > li .timeline-image h4{margin-top:40px}
	.timeline > li.timeline-inverted > .timeline-panel{padding:0 100px 20px 20px}
}
